
<header-component></header-component>

<navbar></navbar>

<div id="body-wrapper">
    <div class="container list-item-wrapper mt-5">
        <div class="list-item-header"></div>
        <div class="list-item-body">
            <div>

                <table-component 
                        entity="$ctrl.entity" 
                        table="$ctrl.tableEntity"
                        actions="$ctrl.actions">
                </table-component>

            </div>
        </div>
    </div>
</div>