#order-details.active {
    margin: auto;
    padding: 32px 24px;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    box-shadow: 4px 0px 4px rgb(0 0 0 / 50%);
}

.beverage-list__title {
    font-size: 24px;
    font-weight: 600;
}

.order-information {
}

.order-field div:nth-child(1) {
    min-width: 50px;
}

.order-field div:nth-child(2){
    max-width: 100%;
    overflow-wrap: break-word;
}

.voucher-title,
.order-title {
    font-size: 24px;
    font-weight: 600;
}

.voucher-field,
.order-field {
    display: flex;
    margin: 24px 0 0 0;
}

.order {
    margin-bottom: 32px;
}

.voucher {
    border-top: 1px solid white;
}

.col-name {
    line-height: 30px;
}